@import "tailwindcss";

@theme {
  /* This creates classes like bg-gunmetal, text-gunmetal, border-gunmetal, etc. */
  --color-gunmetal: #181c23;
  --color-gunmetal-light: #232834;
  --color-cyan-blue: #2f80ff;
}
